.button {
    color: #f8f8f8;
    background-color: #000000;
    height: 4.2vh;
    font-family: 'Century Gothic';
    font-size: 1.05rem;
    font-weight: 100;
    padding:5px;    
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-style: none;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    margin-left: 15px;
}