.button {
    background: #000306;
    border-radius: 9px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 100;
    padding:5px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    margin-left: 15px
}