.flag {
    height: 100px;
    width: 140px;
    /* box-shadow: 6px 4px 12px -4px rgb(0, 0, 0, 0.5); */
}

.card {
    background-image: url('../../assets/Country_Background.png');
    margin: 40px;
    border-radius: 9px;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    box-shadow: 6px 4px 12px -4px rgb(0, 0, 0, 0.5);
    font-weight: bold;
    color: black;
}

.link {
    text-decoration: none;
}

.card:hover {
    background-color: #F5DA93;
    transition: 0.6s;
}
