.flag {
    height: 100px;
    width: 140px
}

.card {
    margin: 40px;
    border-radius: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color:white;
    font-weight: bold;
}

.link {
    text-decoration: none;
}
