.body {
    background-color: #f8f8f8;
    overflow: auto;
    background-size: cover;
    position: absolute;
    font-family: 'Be Vietnam Pro', sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header {
    background-image: url('../../assets/Globe_Brownish.jpg');
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.back {
    text-decoration: none;
    cursor: pointer;
    margin: 20px
}

.nameFlagContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh
}

.name {
    color: #fff;
    text-shadow: #000 0.0625rem 0 0.625rem;
    font-size: 3em;
    display: flex;
    align-items: center;
    text-align: center;
}

.flag {
    filter: grayscale(40%);
    border-radius: 4px;
    margin-left: 50px;
    display: inline-block;
    width: 80px;
    filter: drop-shadow(2px 5px 2px rgba(3,3,3,.5));
}

.outerCard {
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -60px;
    z-index: 1;
    width: 60%;
    border-radius: 5px;
    background-color: #e9e3e3;
    color: #000000;
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 20%);
}

.dataContainer {
    display: flex;
    flex-direction: column;
}

.dataValue {
    margin-top: 0px;
    font-weight: lighter;
}

.noAct {
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: #000000;
}