.body {
    background-color: #ebebeb;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    box-shadow: 0 6px 5px -2px rgb(187, 186, 186);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    background-color: #0c0e25;
    border-radius: 2px;
    margin-top: 5vh;
    width: 50%;
    box-shadow: 6px 4px 12px -4px rgb(0 0 0 / 42%);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0.7em;
    width: 100%;
    max-width: 100%;
}

.select {
    font-family: 'Be Vietnam Pro', sans-serif;
    border-style: none;
    margin-right: 6px;
    height: 4.2vh;
    border-radius: 2px;
    font-size: 0.9rem;
}

.select:focus {
    outline: none;
}

.filtersCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.7em;
    width: 100%;
    max-width: 100%;
}

.filters {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.texts {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    margin-right: 7px;
    margin-left: 7px;
}

.noCountryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.noCountry {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #000000;
    font-weight: bold; 
}

.searchBarContainer {
    margin-top: 2vh;
}

.button {
    color: #f8f8f8;
    background-color: #000000;
    height: 4.2vh;
    font-family: 'Century Gothic';
    font-size: 1.05rem;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    text-align: center;
    font-weight: bold;
}

.orderForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;    
}

.countries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
}
