.body {
    background-color: #ebebeb;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    box-shadow: 0 6px 5px -2px rgb(187, 186, 186);
}

.menu {
    background-color: #c78660;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    width: 60%;
    align-self: center;
    padding: 1em;
}

.select {
    font-family: 'Be Vietnam Pro', sans-serif;
    border-style: none;
    margin-right: 6px;
    height: 4.2vh;
    border-radius: 2px;
    font-size: 0.9rem;
}

.select:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.filters {
    margin: 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 20px;
    align-items:center;
}

.order {
    margin: 10px
}

.alph_pop {
    margin-right: 5px;
}


.texts {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    margin-right: 7px;
    margin-left: 7px
}

.button {
    background-color: #ecdede;
    border-radius: 3px;
    color: #5c5555;
    height: 4.2vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-style: none;
    font-size: 0.9rem;
    font-weight: 100;
    padding:5px;
    box-shadow: 1px 1px 4px 1px #552d0d;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    margin-left: 15px
}

.button:hover {
    transition: 0.2s;
    background-color: #ffeaea;
    color: black
}

.filtersCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.countries {
    display: flex;
    flex-wrap: wrap
}

.loader {
    margin-left: 50%;    
}
