.body {
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000000;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.err {
    color: red;
    font-size: 12px;
}

.createAct {
    background: #FFC300;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    color: black;
    box-sizing: border-box;
    width: 461px;
}

.form {
    display: flex;
    flex-direction: column;    
}

.fields {
    margin-top: 20px;
}

.labels {
    margin-right: 7px;    
    border-radius: 4px;
    font-weight: bold;    
}

.btn {
    background: black;
    color: #FFC300;
    border-radius: 9px;
    border-color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding:5px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 22px;
    margin-left: 22px; 
    font-weight: bold;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 130px
}

.idCountry {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}

.idButton {
    background: #FFC300;
    border-radius: 9px;
    color: #FFFFFF;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: black;
    padding:5px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 22px;
    margin-left: 22px; 
    font-weight: bold;
    margin-bottom: 10px;
}