.body {
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000000;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.header {
    background-image: url('../../assets/Map_Book.jpg');
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.back {
    text-decoration: none;
    cursor: pointer;
    margin: 20px
}

.phraseContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.phrase {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.938);
    text-shadow: #000 0.0625rem 0 0.625rem;
    font-size: 3em;
    display: flex;
    align-items: center;
    text-align: center;
}

.miniPhraseContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.err {
    color: red;
    font-size: 12px;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    background-color: #f9f5f1;
    display: flex;
    flex-direction: column;    
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 20%);
}

.fields {
    margin-top: 20px;
}

.labels {
    margin-right: 7px;    
    border-radius: 4px;
    font-weight: bold;    
}

.selects {
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 2px;
    font-size: 0.9rem;
}

.btn {
    background: black;
    color: #fff;
    border-radius: 4px;
    border-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    padding:5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-top: 22px;
    margin-left: 22px; 
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 130px;
}

.idCountry {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}

.idButton {
    background: #FFC300;
    border-radius: 9px;
    color: #FFFFFF;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: black;
    padding:5px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 22px;
    margin-left: 22px; 
    font-weight: bold;
    margin-bottom: 10px;
}