.container {
    background-image: url('../../assets/Canyon_Van.jpg');
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.phrasesContainer {
    margin-top: 8vh;
    margin-left: 6vw;
}

.phraseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phrase, .phraseDot {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
}