.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    height: 25px;
}

.input {
    background-color: #ebebeb;
    border-width: 0 0 1px;
    border-color: #000000;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-right: 1em;
}

.input:focus {
    outline: none;
    background-color: #ebebeb;
}

.searchBtn {
    cursor: pointer
}