.form {
    display: flex;
    justify-content: center;
    padding: 1px;
    height: 25px;
}

.input {
    border-radius: 3px;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-style: none
}

.input:focus {
    outline: none
}

.searchBtn {
    background-color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    border-radius: 3px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}