.landing {
    background-image: url('../../assets/Countries_Bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
  }

  .buttonDiv {
    display: flex;
    justify-content: center;
    margin: 70px;
    margin-top: 90px;
    margin-left: 100px
  }

  .button {
    background: #000306;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 100;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 1px 1px 20px 0 #000000; 
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center
}

.button:hover {
  text-decoration: none;background-color: #78281F
}

.divText {
  display:flex;
  justify-content: center;  
}

.text {
  font-family: Helvetica;
  font-size: 200px;
  color: #F9D223;
  margin-bottom: 50px
}