.landing {
  background-image: url('../../assets/Globe_Right.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.divName {
  display:flex;
  justify-content: flex-start;  
  margin-top: 20vh;
  margin-left: 2vw; 
  max-width: 100%; 
}

.name {
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  font-size: 10vh;
  color: #fff;
}

.buttonDiv {
  display: flex;
  justify-content: flex-start;
  margin-left: 3.5vw;
  margin-top: 14vh;
  margin-bottom: -4vh;
}

.link {
  z-index: 1000;
}

.button {
  background: #fff;
  color: black;
  font-family: 'Source Sans 3', sans-serif;
  font-size: large;
  font-weight: bold;
  height: 5vh;
  width: 6.2em;
  border-style: none;
  border-radius: 2px;
  box-shadow: 1px 1px 20px 0 #000000; 
  box-shadow: inset 0.6em 0 0 0 #ca9369;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: ease-out 0.5s;
  outline: none;
}


.button:hover {
  box-shadow: inset 6.2em 0 0 0 #ca9369;
  text-shadow: 3px 3px 20px #000000;
  color: #fff;
  text-decoration: none;
  /* background-color: #ca9369 */
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.divSlogan {
  color: rgba(255, 255, 255, 0.384);
  margin-left: 2vw;
  /* margin-top: 20vh; */
}

.slogan {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 10vh;
  line-height: 8vh;
}
