.nav {
    display: flex;
    justify-content: center;
}

.ul {
    display: flex;
    flex-direction: row;
}

.list {
    list-style-type: none
}

.pagBtn {
    background: #FFC300;
    color: black;
    font-family: Helvetica;
    font-size: 15px;
    /* padding:5px; */
    border-radius: 7px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    margin-left:8px;
    margin-right: 8px;
    border: solid 
}