.nav {
    display: flex;
    justify-content: center;
}

.ul {
    display: flex;
    flex-direction: row;
}

.list {
    list-style-type: none
}

.pagBtn {
    background: #000000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    margin-left:8px;
    margin-right: 8px;
    border-style: solid;
    border-color: #000000; 
}